* {
    font-size: large;
}

body {
    /*display: flex; 
    justify-content: center;
    align-items: center; */
    height: 95vh;
    width: 33vw;
    margin: auto;
}

.calc {
    position: absolute;
    display: flex;
    flex-direction: column;
    background: black;
    height: 85vh;
    max-height: 750px;
    min-height: 475px;
    width: 25vw;
    min-width: 20vw;
    margin-top: 1vh;
    border-radius: 20px;
}

.display{
    position: relative;
    padding: 5%;
    margin-top: 5vh;
    text-align: right;
    color: #eee;
}

.expression {
    position: relative;
    font-size: xx-large;
    font-weight: bold;
}

.answer {
    position: relative;
    font-size: large;
    font-weight: normal;
}

.buttons {
    display: grid;
    height: 75vh;
    margin-top: 5vh;
    column-gap: 1.5vw;
    grid-template: auto / auto auto auto auto auto;
    justify-content: center;
    align-items: center;
    /* border: lime 2px solid; */
}

.buttons button {
    height: 50px;
    width: 50px;
    border: 1px solid;
    border-radius: 50%;
}


